// variable color
$theme-primary: #00adef;
$text-on-theme-primary: #fff;
$hover-on-theme-primary: #ccc;
$theme-active: #0088c6;
$theme-disabled: #4dc6f4;
$base-color: #000;
$text-on-base-color: #fff;
$link-on-base-color: #999;
$hover-on-base-color: #999;
$bg-on-base-color: #141414;
$button-base-color: #333333;
$button-hover-color: #1f1f1f;
$button-text-color: #f0f0f0;
$footer-text-color: #636363;

// font family for none title text
$ff-0: 'Roboto', sans-serif;
// variable font-size
$fs-0: 15px; //default
$fs-1: 13px;
$fs-2: 20px;
$fs-3: 24px;
$fs-4: 36px;
$fs-5: 40px;
$fs-6: 44px;

//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;

//variable border-radius
$border-radius: 2px;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;


//variable line-height
$line-height-0: 1.43; //default


//variable font-weight
$fw-normal: normal;
$fw-bold-0: 500;
$fw-bold-1: 600;
$fw-bold-2: 700;
$fw-bold: bold;


//break points
$breakpoints:(
    'extra-large': 1280px,
    'large' : 1024px,
    'medium' : 768px,
    'small' : 480px,
)